html {
    background: lightgray;
}
body {
    width: 60%;
    margin: 0 auto;
}
header {
    margin-bottom: 2.4em;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
nav {
    float: left;
    margin-right: 3em;
}
/* Strip out default styling for lists */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Style navbar links */
li a {
    display: block;
    width: 8em;
    line-height: 2em;
    padding: .2em 0 .2em 1em;
    font-size: 1em;
    text-decoration: none;
    background: #1794D1;
    color: white;
    border-bottom: .125em solid lightgray;
}
/* Remove border from last link in navbar */
li:last-child a {
    border-bottom: none;
}
li a:hover, li a:focus {
    background: #1377A8;
}
article {
    margin-left: 11em;
}
