* {
    margin: 0;
    padding: 0;
}
html {
    background: lightgray;
}
body {
    width: 60%;
    margin: 0 auto;
    padding: 2em 4em 2em 4em;
    background: white;
    box-shadow: 0 0 1em black;
    font-family: 'Droid Sans', sans-serif;
}
#mainHeader {
    margin-bottom: 2.4em;
    text-align: center;
}
#mainHeader p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}
h1 {
    text-transform: uppercase;
}
nav {
    float: left;
    position: fixed;
    margin-right: 3em;
}
/* Strip out default styling for lists */
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Style navbar links */
li a {
    display: block;
    width: 8em;
    line-height: 2em;
    padding: .2em 0 .2em 1em;
    font-size: 1em;
    text-decoration: none;
    background: #1794D1;
    color: white;
    border-bottom: .125em solid white;
}
/* Remove border from last link in navbar */
li:last-child a {
    border-bottom: none;
}
li a:hover, li a:focus {
    background: #1377A8;
}
p a:link {
    color: #1794D1;
    text-decoration: none;
}
p a:visited {
    color: purple;
}
p a:hover, p a:focus {
    color: #1377A8;
}
main {
    margin-left: 11em;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
footer {
    text-align: center;
    font-size: .7em;
    margin-top: 5em;
}
