body {
    padding-right: 11em;
}
/* Strip out default styling for lists */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Links within lists are block level elements */
li a {
    display: block;
    width: 8em;
    line-height: 2em;
    padding: .2em 0 .2em 1em;
    font-size: 1em;
    text-decoration: none;
    background: #1794D1;
    color: white;
    border-bottom: .125em solid white;
}
li a:hover, li a:focus {
    background: #1377A8;
}
li:last-child a {
    border-bottom: none;
}
nav ul {
    padding-left: 11em;
}
